In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url  = "https://raw.githubusercontent.com/shrikant-temburwar/Wine-Quality-Dataset/master/winequality-red.csv"
df = pd.read_csv(url, sep = ';')

# **Basic EDA**

In [ ]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [ ]:
df.shape

(1599, 12)

In [ ]:
df['quality'].unique()

array([5, 6, 7, 4, 8, 3])

In [ ]:
df['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

**Observation**
* 6 classes are there in the target variable
* 5,6 and 7 classes arre in majority

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
fixed acidity,1599.0,8.319637,1.741096,4.60000,7.1000,7.90000,9.200000,15.90000
volatile acidity,1599.0,0.527821,0.179060,0.12000,0.3900,0.52000,0.640000,1.58000
citric acid,1599.0,0.270976,0.194801,0.00000,0.0900,0.26000,0.420000,1.00000
residual sugar,1599.0,2.538806,1.409928,0.90000,1.9000,2.20000,2.600000,15.50000
chlorides,1599.0,0.087467,0.047065,0.01200,0.0700,0.07900,0.090000,0.61100
free sulfur dioxide,1599.0,15.874922,10.460157,1.00000,7.0000,14.00000,21.000000,72.00000
total sulfur dioxide,1599.0,46.467792,32.895324,6.00000,22.0000,38.00000,62.000000,289.00000
density,1599.0,0.996747,0.001887,0.99007,0.9956,0.99675,0.997835,1.00369
pH,1599.0,3.311113,0.154386,2.74000,3.2100,3.31000,3.400000,4.01000
sulphates,1599.0,0.658149,0.169507,0.33000,0.5500,0.62000,0.730000,2.00000
alcohol,1599.0,10.422983,1.065668,8.40000,9.5000,10.20000,11.100000,14.90000
quality,1599.0,5.636023,0.807569,3.00000,5.0000,6.00000,6.000000,8.00000

In [ ]:
df.duplicated().sum()

240

In [ ]:
# df.drop_duplicates(inplace = True)

In [ ]:
df.duplicated().sum()

240

In [ ]:
df[df.duplicated()==False]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

# **Segregating Independt and Dependent Featires**

In [ ]:
X=df.drop("quality",axis=1) 
y=df["quality"]

# **Train Test Split**

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
print(X_train.shape)
print(X_test.shape)

(1071, 11)
(528, 11)

# **Scaling**
* For Decision Tree scaling is not required

In [ ]:
# from sklearn.preprocessing import StandardScaler

In [ ]:
# scaler = StandardScaler()

# **Model Creation**

## **Decision Tree**

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
DTC_model  = DecisionTreeClassifier()

In [ ]:
DTC_model.fit(X_train, y_train)

DecisionTreeClassifier()

In [ ]:
DTC_model.score(X_train,y_train)

1.0

In [ ]:
y_predict = DTC_model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test,y_predict)

0.5587121212121212

**Observatio**n
* Overfit model because test accuracy is less than train accuracy

# **GridSearchCV Decision Tree**

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
param_grid  = {
    'criterion': ['gini', 'entropy'],
    'max_depth' : range(2,32,1),
    'min_samples_leaf' : range(1,10,1),
    'min_samples_split': range(2,10,1),
    'splitter' : ['best', 'random']
}

In [ ]:
grid_DTC_model = GridSearchCV(DecisionTreeClassifier(), param_grid, cv = 5)

In [ ]:
grid_DTC_model.fit(X_train,y_train)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': range(2, 32),
                         'min_samples_leaf': range(1, 10),
                         'min_samples_split': range(2, 10),
                         'splitter': ['best', 'random']})

In [ ]:
grid_DTC_model.best_params_

{'criterion': 'entropy',
 'max_depth': 23,
 'min_samples_leaf': 2,
 'min_samples_split': 3,
 'splitter': 'random'}

In [ ]:
print(grid_DTC_model.best_estimator_)

DecisionTreeClassifier(criterion='entropy', max_depth=23, min_samples_leaf=2,
                       min_samples_split=3, splitter='random')

In [ ]:
grid_DTC_model_with_best_params = DecisionTreeClassifier(criterion = 'gini',
 max_depth= 7,
 min_samples_leaf= 2,
 min_samples_split= 2,
 splitter= 'random')

In [ ]:
grid_DTC_model_with_best_params.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=7, min_samples_leaf=2, splitter='random')

In [ ]:
y_predictin_GridSearchCV = grid_DTC_model_with_best_params.predict(X_test)

In [ ]:
accuracy_score(y_test, y_predictin_GridSearchCV)

0.5757575757575758

## **Logistic Regression**

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
LR_model = LogisticRegression()

In [ ]:
LR_model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [ ]:
LR_model.score(X_train,y_train)

0.5891690009337068

In [ ]:
y_predict_LR=LR_model.predict(X_test)

In [ ]:
accuracy_score(y_test,y_predict_LR)

0.553030303030303

# **SVC**

In [ ]:
from sklearn.svm import SVC

In [ ]:
SVC_Model=SVC()

In [ ]:
SVC_Model.fit(X_train,y_train)

SVC()

In [ ]:
SVC_Model.score(X_train,y_train)

0.5107376283846872

In [ ]:
y_predict_SVC=SVC_Model.predict(X_test)

In [ ]:
accuracy_score(y_test,y_predict_SVC)

0.5